

body {
    background-color: #100e17;
    font-family: 'Open Sans', sans-serif;
    background-image:url('🦋.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed ;
  }
  #bg-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

  .player-zone {
    position: fixed;
    height: 300px;
    bottom: -150px;
    left: calc(50% - 340px);
    display: flex;
  }
  
  .card {
    display: flex;
    height: 150px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    position: relative;
    
}

.card:after {
  transform:translateY(-60px) ;
}


.card:not(:first-child) {
    margin-left: -35px;
    transform: rotate(5deg);
}

.card:hover {
  transform: translateY(-70px);
}


  .card-body {
    color: rgb(0, 0, 0);
    font-size: 60px;
    padding: 30px;
    padding-top: 30px;
    padding-left: 25px;
    text-align: center;
  }

  .card-title {
    color: rgb(0, 0, 0);
    font-size: 30px;
    position: absolute;
    left: 10px;
    top: 2px;
  }
  .card-title2 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    position: absolute;
    right: 10px;
    bottom: 2px;
  }

 /* ////////////////////////////////////////////// */
  .card-title.red ,.card-title2.red{
    color: red;
  }

  .focus-player{
    position: absolute;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    top: 500px;
    right: 750px;
  }

  .focus-bot1{
    position: absolute;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    top: 300px;
    right: 300px
  }
  .focus-bot2{
    position: absolute;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    top: 150px;
    right: 750px;
  }
  .focus-bot3{
    position: absolute;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    top: 300px;
    left: 300px;
    
  }
  .focus-player.play{
    color: black;
    background-color: rgba(240, 248, 255, 0.667);
    border-radius: 10px;
  }
  .focus-bot1.play{
    color: black;
    background-color: rgba(240, 248, 255, 0.667);
    border-radius: 10px;
  }
  .focus-bot2.play{
    color: black;
    background-color: rgba(240, 248, 255, 0.667);
    border-radius: 10px;
  }
  .focus-bot3.play{
    color: black;
    background-color: rgba(240, 248, 255, 0.667);
    border-radius: 10px;
  }



  /* ////////////////////////////////////////////// */
  

  
  .card.show {
    animation-name: displayCard;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
      display: block;
    }
    
  
  @keyframes displayCard {
    0% {
      transform: translateY(0) scale(1) rotate(0);
    }
  
    100% {
      transform: translate(-50%, calc(-40vh)) scale(2) rotate(-360deg);
    }
  }
  
  .card-body img {
    color: rgb(0, 0, 0);
    padding: 0px;
    width: 100px;
    height:140px;
    border-radius: 10px;
    margin: 0px;
  }

  
  button {
    border-radius: 12px;
    border: 3px outset #b264f7;
    position: fixed;
    top:590px;
    left: 1100px;
    display: flex;
    padding: 15px 20px;
    color: #eee;
    box-shadow: 0 0 10px rgb(98, 0, 131);
    font-family: verdana;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    background:linear-gradient(160deg, #d175ed, #6b45a5);
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    transition: 0.2s;
    row-gap: 20px;
    overflow: hidden;
    text-transform: uppercase;
  }
  button:active {
    border: 3px outset #ddd;
    color: #fff;
    background: linear-gradient(160deg, #e356c7, #fd8bee);
    text-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
  }

 

  