.bot2-zone {
    position: fixed;
    display:flex;
    flex-direction: row;
    margin-top: 50px;
    top:-100px;
    margin-left: 450px;
  }
  
  .card.bot2 {
    height: 150px;
    width: 100px;
    background-color: #c61c1c;
    border: 7px solid #ffffff;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    position: relative;
    background-image: url('Moth in the Night.jpg');
    
}


.card.bot2:not(:first-child) {
    margin-bottom: -70px;
    transform: rotate(2deg);
}

.card.bot2:hover {
  transform: translateY(60px);
}




  

  

